<div class="container p-5">
  <div class="pt-5 col-lg-6 offset-lg-3">
    <div class="card" style="width: 23rem">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp"
        class="card-img-top"
        alt="Chicago Skyscrapers"
      />
      <div class="card-body">
        <h5 class="card-title">Inicio de Sesion</h5>
      </div>

      <div class="row p-3">
        <div class="form-outline">
          <input type="text" id="form12" class="form-control" />
          <label class="form-label" for="form12">User</label>
        </div>
      </div>
      <div class="row p-3">
        <div class="form-outline">
          <input type="text" id="form12" class="form-control" />
          <label class="form-label" for="form12">Password</label>
        </div>
      </div>
      <div class="d-grid gap-2 p-3">
        <button routerLink="/inicio" class="btn btn-primary" type="button">
          Log In
        </button>
      </div>

      <div class="card-body">
        <a href="#" class="card-link"><i class="fab fa-facebook"></i></a>
        <a href="#" class="card-link"><i class="fab fa-google"></i></a>
        <a href="#" class="card-link"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
